body{
	background-image: url(../imagenes/spikes.png);
	background-attachment: fixed;
}
#cuerpo{
	min-height: calc(100vh - 200px);	
	margin-top: 100px;
	
}

#contenidoDetalle{
	background-size: cover;
	background-position: initial;
}

#foto{
	margin-left: 60px;
	height: calc(100vh - 180px);
	width: 430px;
	background-size: cover;
	background-position: right;
	clip-path: polygon(0% 0%, 80% 0, 100% 50%, 80% 100%, 0% 100%);
}

#contenedor-descripcion{
	color: lightyellow;
}

#comprada{
	color: #cf0014;
    text-decoration: underline overline;
    font-size: 27px;
    text-shadow: 1px 2px 1px #000000de;
    transform: scale(1.5) rotate(326deg) scaleX(1.5) scaleY(1.3);

}

#tituloDescrip{
    font-weight: 900;
    letter-spacing: 1.5px;
   text-shadow: 1px 6px 10px #000000;
    border-bottom: solid 1.5px;
}

#genero{
	color: #ffffe080;
}

#div-promos{
	font-size: 21px;
}

#promos{
	height: 90px;
	border: 2px outset !important;
}

#descripcion{
	letter-spacing: 1px;
	text-align: justify;
}

#precio{
	font-size: 30px;
	color: red;
	text-shadow: 0px 0px 20px #f60606;
}

.link{
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	width: 80px;
	height: 50px;
	color: black;
	background-color: red;
	background-size: cover;
	background-position: center;
	border: solid 1px black;
	border-radius: 8px;
	padding: 4px;
	transition: 0.2s;
}

.link:hover{
	color: black;
	filter: brightness(0.6);
	transform: scale(0.95);
}

.btn-neon{
	padding-left: 20px!important;
    padding-right: 20px !important;
    font-size: 30px !important;
}

@media (min-width: 0px) and (max-width: 991.99px){
	
	#foto{	
	width: 100%;
	background-size: cover;
	background-position: top;
	clip-path: polygon(0% 0%, 100% 1%, 100% 75%, 50% 100%, 0 75%);
	margin: 0px;
	max-height: 500px;
}
	#tituloDescrip{
		letter-spacing: 1;
		font-size: 28px;
	}
	#genero{
		font-size: 15px;
	}
	#lema{
		font-size: 19px;
	}
	#descripcion{
		font-size: 12px;
	}
	#div-promos{
		font-size: 16px;
	}
	#precio{
		font-size: 25px;
	}
	
	#promos{
		height: 70px;
	}
	
	.link{
		font-size: 12px;
		width: 80px;
		height: 40px;
		padding: 4px;
	}
	
	.btn-neon{
		width: 150px;
	    height: 60px;
	    font-size: 24px !important;
	}
}

@media (min-width: 992px) and (max-width: 1199.99px){
	#foto{
		margin-left: 30px;
		height: calc(100vh - 250px);
		width: 350px;
	}
	#tituloDescrip{
		letter-spacing: 1;
		font-size: 28px;
	}
	#genero{
		font-size: 20px;
	}
	#lema{
		font-size: 24px;
	}
	#descripcion{
		font-size: 12px;
	}
	#div-promos{
		font-size: 18px;
	}
	#precio{
		font-size: 25px;
	}
}

@media (min-width: 1200px) and (max-width: 1400px){
	#foto{
		margin-left: 30px;
	}
	#tituloDescrip{
		letter-spacing: 1;
		font-size: 30px;
	}
	
}



