body{
	background-color: rgb(0, 0, 0);
}

main{
	margin-top: 62px;
}

#inicio{
	opacity: 1 !important;
}

.boton-inicio::before {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

.tituloPromocion{
	color: white;
	font-size: 65px;	
	text-shadow: 5px 5px 8px #030303;
}

.parrafoPromocion{
	color: white;
	font-size: 25px !important;
	text-shadow: 5px 5px 8px #030303;
	font-weight: bold;
}

#altura-max{
	max-height: calc(100vh - 62px) !important;
}

.color-principal{
	color: lightyellow;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(66 63 63);
    box-shadow: 0px 8px 8px rgb(0 0 0 / 70%);
}

#fondo{
	background-image: url(../imagenes/z2.png)!important;
	background-attachment: fixed;
	filter: brightness(0.8);
}

.container {
	margin-top: 40px;
}


.carousel-inner img {
	width: 100%;
	max-height: calc(100vh - 104px);
}

.d-flex1{
	margin-right: 20px;
}

.carta{
	border-radius: 16px;
	box-shadow: 4px 8px 12px rgba(0,0,0, 0.5);
	max-width: 400px;
	min-width: 200px;
}

.fondo-backdrop{
	background-size: cover;
	background-position: right center;
}

.fondo-portada{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center	;
	width: calc(100% - 40px);
	height: 500px;
	filter: brightness(70%);
	transition: 0.2s;
}

.fondo-portada:hover{
	filter: brightness(100%);
}

.descripcion{
	color: white;
}

span{
	color: lightyellow;
	font-size: 70%;
	opacity: 0.6;
}

.wave {
	position: absolute;
	width: 100%;
	height: 200px;
	z-index: -1;
	filter: brightness(1.5);
}

.box-imagen-card {
	width: 25rem;
	background: transparent;
	transition: 0.3s;
}

.circle {
  	background: #cc8a3a;
	opacity: 1;
}

.icon.arrow::before {
	border-top: 0.125rem solid white;
	border-right: 0.125rem solid white;
}
.button-text {
	opacity: 1;
}

.botondes:hover .circle .icon.arrow {
	background: white;
	transform: translate(1rem, 0);
}
.botondes:hover .button-text {
 	color: white;
	opacity: 1;
}

@media (min-width: 0px) and (max-width: 575.99px){
	
	.fondo-portada{
		height: 250px;
	}
	
	#titulo{
		font-size: 25px!important;
		margin-top: 100px !important;
	}
	
	.carta{
		min-width: 150px;
	}
	
	.tituloPromocion{
		font-size: 22px;	
	}

	.parrafoPromocion{
		font-size: 10px !important;
	}
	
	.card-img-top{
		width: 70% !important;
	}
	
}

@media (max-width: 576px){
	
	#titulo{
		margin-bottom: 25px !important;
		font-size: 40px	;	
	}
	
}

@media (min-width: 576px) and (max-width: 991.99px){
	
	
	
	.titulo-carta{
		font-size: 16px;
	}
	#titulo{
		font-size: 35px!important;
		margin-top: 100px !important;
	}
		
	.fondo-portada{
		height: 350px;
	}
	
	.tituloPromocion{
		font-size: 42px;	
	}

	.parrafoPromocion{
		font-size: 16px !important;
	}
}

@media (min-width: 991.99px) and (max-width: 1199.99px){
	
	.titulo-carta{
		font-size: 18px;
	}
}

